<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button
    class="btn btn-outline-primary mr-2 dropdownContainer__dropbtn"
    id="dropdownManual"
    ngbDropdownAnchor
    (focus)="myDrop.open()"
  >
    Pay analysis group
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <div class="dropdownContainer__flex-container">
      <p (click)="selectAll()">Select all</p>
      <p (click)="clearAll()">Clear</p>
    </div>
    <ul class="dropdwn__list">
      <li *ngFor="let checkbox of checkboxes">
        <label class="chkbox_container"
          >{{checkbox.name}}
          <input type="checkbox" [(ngModel)]="checkbox.checked" />
          <span class="checkmark"></span>
        </label>
      </li>
    </ul>
  </div>
</div>